<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    {{ codemirror.include_codemirror()}}
    <title>{{problem.name}} | CodeChecker</title>
    <meta charset="UTF-8">
    <meta name="author" content="CSI_DTU">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid" style="margin: 0px; padding: 0px">
    <div class="row" style="border-bottom: 3px solid blue; border-left: 3px solid blue; padding: 0px; margin: 0px; border-right: 3px solid blue;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1 style="text-align: center; color: blue; font-family: cursive; font-size: 400%; font-weight: 900 ">

                <span class="text-info" style="font-size: 70%;"> Problem: {{problem.name}}</span>
            </h1>

        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row" style="padding: 5px; margin: 5px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 text-justify">
            <div class="problem-area" style="border: 3px solid lightsalmon; padding: 5px;
 margin: 5px">
                <p>{% autoescape false %}
                    {{problem.descr}}
                    {% endautoescape %}
                </p>
            </div>
            <br>
            <br>
            <div class = "editor-area">
                <form  action="" method="post" role="form">
                    <div class = "editor" >
                        {{ form.source_code }}
                    </div>
                    <br>
                    <input type="submit" class="btn btn-success" value="SUBMIT">
                </form>
            </div>
            {% if result != None %}
            <div class = "result-area" >
                <h2> Submission Result </h2>
                <p> {{result}} </p>
            </div>
            {% endif %}

        </div>
        <div class="col-sm-1"></div>

    </div>


</div>
</body>
</html>