<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    {{ codemirror.include_codemirror()}}
    <title>{{problem.name}} | CodeChecker</title>
    <meta charset="UTF-8">
    <meta name="author" content="CSI_DTU">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">

    <div class="problem-area">
        <h2>{{problem.name}}</h2>
        <p>{% autoescape false %}
                {{problem.descr}}
            {% endautoescape %}
        </p>
    </div>

    <div class = "editor-area">
        <form  action="" method="post" role="form">
            <div class = "editor" >
                {{ form.source_code }}
            </div>
            <input type="submit" class="btn btn-info pull-center" value="SUBMIT">
        </form>
    </div>


    {% if result != None %}
    <div class = "result-area" >
        <h2> Submission Result </h2>
        <p> {{result}} </p>
    </div>
    {% endif %}

</div>
</body>
</html>