<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    {{ codemirror.include_codemirror()}}
    <title>{{problem.name}} | CodeChecker</title>
    <meta charset="UTF-8">
    <meta name="author" content="CSI_DTU">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/navbar.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.js"></script>
</head>
<style>
    
    *
    {
        margin: 0px;
    }
    
</style>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            </button>
            <a class="navbar-brand" disabled="disabled" href="#">CSI-DTU</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="font-weight: 900 ">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li>
                    <a href="/problems">Problems</a>
                </li>
                <li><a href="/scoreboard">Score Board</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"> Welcome {{current_user.id}}!</a></li>
                <li><a href="/logout"><span></span> Logout </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin: 0px; padding: 0px">
    <div class="row" style="  padding: 0px; margin: 0px;">

        <div class="col-sm-8" style="border-bottom: 3px solid darkblue; border-right: 3px solid darkblue; ">
            <h1 style="text-align: left; color: darkblue; font-family: Arial; font-size: 400%; font-weight: 900 ">

                 {{problem.name}}
            </h1>

        </div>
        <div class="col-sm-4" style="border-left: 3px solid darkblue"></div>
    </div>
    <div class="row" style="padding: 0px; margin: 0px;">

        <div class="col-sm-8 text-justify"  style="border-bottom: 3px solid darkblue; border-right: 3px solid darkblue">
            <div class="problem-area" style="color: darkblue; padding: 5px;
 margin: 0px;">
                <p>{% autoescape false %}
                    {{problem.descr}}
                    {% endautoescape %}
                </p>
            </div>
        </div>
        <div class="col-sm-4" style="border-left: 3px solid darkblue"></div>
    </div>
    <div class="row" style="margin: 0px; padding: 3px">
            <div class = "editor-area col-sm-8" style="border: 3px solid darkblue; padding: 0px; margin: 0px; border-left: none; border-top: none">
                <form  action="" method="post" role="form">
                    <div class = "language" style = "width: 25%">
                        <label>Language</label>
                        <select id = "lang" class = "form-control" name = "lang">
                            <option value = "c">C</option>
                            <option value = "cpp">C++</option>
                            <option value = "java">Java</option>
                            <option value = "python">Python</option>
                        </select>
                    </div>
                    <br>
                    <div style="border : 3px solid darkblue; border-left: none; border-right : none">
                    <div class = "editor">
                        {{ form.source_code }}
                    </div>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-info" value="SUBMIT">
                    <br>
                </form>

            </div>
        <div class="col-sm-1"></div>
    </div>

          <div class="row" style="margin : 3px; padding: 3px">
            {% if result != None %}
            <div class = "result-area" >
                <h2> Submission Result </h2>
                <p> {{result}} </p>
            </div>
            {% endif %}

        </div>
</div>
</body>
</html>