<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="CSI-DTU">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/materialize/css/materialize.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/materialize/js/materialize.js"></script>
    <title>Home CSI-DTU</title>
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">CSI-DTU</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class=" left hide-on-med-and-down">
            <li class="active"><a href="#">Home</a></li>
            {% if valid_user %}
            <li>
                <a href="/problems">Problems</a>            </li>
              <li><a href="/scoreboard">Score Board</a></li>
        </ul>
            <ul class="right hide-on-med-and-down">

             <li><a href="#"> Welcome {{current_user.id}}!</a></li>
             <li><a href="/logout"><span></span> Logout </a></li>
            </ul>
            {% else %}
    </ul>
        <ul class="right hide-on-med-and-down">
             <li><a href="/login"><span></span> Login </a></li>
        </ul>

        {% endif %}


        <ul class="side-nav" id="mobile-demo">

            <li class="active"><a href="/">Home</a></li>
            {% if valid_user %}
            <li>
                <a href="/problems">Problems</a>
            </li>
            <li><a href="/scoreboard">Score Board</a></li>
            <li><a href="#"> Welcome {{current_user.id}}!</a></li>
            <li><a href="/logout"><span></span> Logout </a></li>
            {% else %}

            <li><a href="/login"><span></span> Login </a></li>

            {% endif %}
        </ul>
    </div>
</nav>


    <div class="container">
        <div class="row">
            <div class="col s12 m2 l2"></div>
            <div class="col s12 m8 l8" style="text-align: center">
                <h1 style="text-align: center;  font-size: 400%; font-weight: 900 " class="red-text text-darken-2">
                    Computer Society of India

                </h1>
                <span  style=" font-weight: 700; font-family: cursive; font-size : 300%" class="red-text text-lighten-3" >  Code Genesis </span>
                <br>
            </div>
            <div class="col s12 m2 l2"></div>
        </div>
    </div>



<script>

    $(function () {

        $(".button-collapse").sideNav();

    });

</script>
</body>
</html>