<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="CSI_DTU">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.js"></script>
    <title>CSI-DTU </title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1 style="text-align: center; color: blue; font-family: cursive; font-size: 400%; font-weight: 900 ">
                    Computer Society of India
                    <br>
                    DTU Chapter <br> <span style="color: orange; font-weight: 400"> <i> presents </i> </span>
                    <br>
                    <span class="text-danger" style="text-decoration: underline;">  Code Genesis </span>
                </h1>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <br><br>
        <div class="row" style="background-color: lightsalmon; color: red;">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" style="text-align: center; font-size: 180%">


                Create your user and participate in the coding competition. Prizes worth Rs. ### to be won!

            </div>
            <div class="col-sm-2"></div>


        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <a class="btn btn-primary btn-block btn-lg" role="button" href="sign_up.html"> Create User </a>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <a class="btn btn-primary btn-block btn-lg" role="button" href="login.html"> Login</a>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
</body>
</html>