<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="CSI_DTU">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.js"></script>
    <title>CSI-DTU </title>
</head>
<body>
    <div class="container">
        <div class="row" id="flash">
            <br>
            <br>
            <div class="col-sm-2"></div>
            <div class="col-sm-8" id="flash-message" style="display: none">
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <h2>Please Sign Up</h2>
                <br>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <input type="text" name="username" id="username" class="form-control input-lg" placeholder="username" tabindex="3" required>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="6" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="7" required>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" >
                    <div class=" col-sm-12" >
                        <button id="submit" style="box-shadow:5px 5px 5px black" class="btn btn-success btn-block btn-lg">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <script>
        /* Function to validate all data and send to server */
        function GetForm() {
        //    var username = $('#username').val();
//            var age = $('#age').val();
//            console.log("GetForm Called");
//            var phone = $('#phone_number').val();
            var username = $('#username').val();
            var pass1 = $('#password').val();
            var pass2 = $('#password_confirmation').val();
            var flash = $('#flash');
            var flash_message = $('#flash-message');
//            var first_name = $('#first_name').val();
//            var last_name = $('#last_name').val();
            /* Checking for empty input fields submitted by the user */
            if(username == null || pass1 == null || pass2 == null || username == "" || pass1 == "" || pass2 == "" )
            {
              //  console.log("Some Problem");
                flash_message.css({'display' : 'block'});
                flash_message.html('Please fill all the entries.');
                return;
            }
            /* Failure of password confirmation */
            if(pass1 != pass2)
            {
                flash_message.css('display', 'block');
                flash_message.html('Password Confirmation failed');
                pass1.val("");
                pass2.val("");
                return;
            }
            /* Object that has to be sent to server */
            var obj = {
                password : pass1,
                username : username
            };

            /* Post request to server. Return an object with the following fields
             *  username_valid : true or false
             *  username_available : true or false
             *  user_creation : true or false
              *
              * */
            $.post('/create', obj, function (data, status) {

                console.log(status);

                if(data.username_valid == false)
                {
                    flash_message.css('display', 'block');
                    flash_message.html('Please Provide a valid username address');
                }
                else if(data.username_available == false)
                {
                    flash_message.css('display', 'block');
                    flash_message.html('This username address already exists with us. Please provide a different one');
                }
                else
                {
                    window.location.href = "/profile";
                }

            });
        }

        /* This function will be called when the page opens. Its like document.ready()*/

        $(function () {
            var submit = $('#submit');
            submit.click(GetForm);
        });

    </script>

</body>
</html>