<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="CSI-DTU">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/navbar.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.js"></script>
    <title>Contest</title>
</head>
<body>

This page should contain instructions for the candidates
Have made this. Decide if it has to be kept or not;

</body>
</html>